body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}
.border {
  position: fixed;
  background-color: black;
  z-index: 11;
}
#top, #bottom {
  height: 30px;
  width: 100vw;
  left: 0px;
}
#left, #right {
  height: 100vh;
  width: 30px;
  top: 0px;
}
#top {
  top: 0px;
}
#bottom {
  bottom: 0px;
}
#left {
  left: 0px;
}
#right {
  right: 0px;
}
.container {
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  left: -50vw;
  top: -50vh;
  width: 150vw;
  height: 150vh;
  animation-name: earthShake;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes earthShake {
  from {
        transform: rotate(-2deg);
  }
  50% {        transform: rotate(2deg);}
    to {        transform: rotate(-2deg);}
}

@keyframes xwing {
  from {
    top: 10vh;
    left: -20vw;
  }
  50% {
    top: 20vh;
    left: 120vw;
  }
  to {
    top: 15vh;
    left: 120vw;
  }
}

@keyframes bowRight {
  from {
    transform: rotate(-45deg);
    top: 80vh;
    left: 10vw;
    height: 5vh;
    filter: brightness(20%);
  }
  25% {
    transform: rotate(0deg);
    left: 40vw;
    top: 5vh;
    height: 80vh;
    filter: brightness(100%);
  }
  50% {
    transform: rotate(45deg);
    left: 80vw;
    top: 80vh;
    height: 5vh;
    filter: brightness(20%);
  }
  75% {
    transform: rotate(0deg);
    left: 40vw;
    top: 5vh;
    height: 80vh;
    filter: brightness(100%);
  }
  to {
    transform: rotate(-45deg);
    left: 10vw;
    top: 80vh;
    height: 5vh;
    filter: brightness(20%);
  }
}

.img {
  position: absolute;
  height: 60vh;
  animation-name: bowRight;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 10;
}
.xwing {
  position: absolute;
  height: 5vh;
  animation-name: xwing;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 9;
}
